.contents__right__body__box{"data-id": "#{message.id}"}
  .contents__right__body__box__message
    %p.contents__right__body__box__message__username
      =message.user.name
    %p.contents__right__body__box__message__date
      =message.created_at.strftime("%Y/%m/%d %H:%M")
  .contents__right__body__box__comment
    -if message.content.present?
      =message.content
    =image_tag message.image.url if message.image.present?